// out: style.css
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,700');
@gray1: #f1f3f5;
@gray4: #ced4da;
@gray6: #868e96;
@gray7: #495057;
@gray8: #343a40;
@gray9: #212529;
@red7: #f03e3e;
@blue9: #1864ab;
@orange7: #f76707;
@radius: 5px;

.borderradius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
}
.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}
.drop-shadow(@x-axis: 0, @y-axis: 5px, @blur: 15px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}
.placeholder(@color: @gray4){
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: @color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: @color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: @color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: @color;
  }
}

*{
  outline: none;
  .transition(0.1s);
}
a:hover{
  text-decoration: none;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  background-color: @gray1;
}
.buttonbuy{
  color: @gray4;
  text-align: center;
  .borderradius(@radius, @radius, @radius, @radius);
  border: 1px solid @gray4;
  width: 100%;
  padding: 10px 20px;
  display: block;
  margin-top: 20px;
  &:hover, &.active{
    border-color: transparent;
    background-color: @red7;
    color: #fff;
  }
}
.input{
  width: 300px;
  margin-top: 20px;
  border: none;
  padding: 10px 15px;
  .borderradius(0, 0, @radius, @radius);
  .placeholder();
}

.topo{
  background-image: url(../images/bg-topo.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-weight: 300;
  .row{
    height: 550px;
  }
  h1{
    font-size: 18px;
    strong{
      font-size: 60px;
      display: block;
    }
  }
  .fa-search{
    color: @gray8;
    background-color: #fff;
    padding: 13px 20px 15px 10px;
    margin-left: -4px;
    .borderradius(@radius, @radius, 0, 0);
  }
  .link{
    font-size: 12px;
    margin-top: 40px;
    display: block;
    a{
      color: #fff;
    }
  }
}
main{
  margin-top: -80px;
  .container{
    .borderradius(@radius, @radius, @radius, @radius);
    .drop-shadow();
    background-color: #fff;
    padding: 30px 20px 0;
    margin-bottom: 40px;
  }
  .heading{
    padding-bottom: 20px;
    border-bottom: 1px solid @gray1;
    .fas{
      color: @gray4;
    }
  }
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      padding-top: 40px;
      padding-bottom: 40px;
      h3{
        margin-top: 30px;
        color: @gray8;
        font-size: 18px;
        line-height: 1em;
        font-weight: 700;
        display: block;
        width: 100%;
      }
      small{
        font-size: 12px;
        color: @gray8;
        display: block;
        width: 100%;
      }
      img{
        display: block;
        margin: 0 auto;
      }
      .book{
        &:hover{
          h3{
            color: @blue9;
          }
        }
      }
    }
  }
}
.aberto{
  .image{
    img{
      display: block;
      margin: 0 auto;
    }
  }
  h2{
    font-size: 26px;
    line-height: 1em;
    font-weight: 700;
  }
  small{
    font-size: 12px;
    color: @gray4;
    display: block;
    width: 100%;
  }
  span{
    display: block;
    font-size: 14px;
    color: @gray4;
    &.original{
      text-decoration-line: line-through;
    }
    &.final{
      font-size: 30px;
      color: @orange7;
      font-weight: 700;
    }
  }
  .frete{
    margin-top: 50px;
    span{
      color: @gray8;
    }
    input{
      border-top: 1px solid @gray4;
      border-left: 1px solid @gray4;
      border-bottom: 1px solid @gray4;
      width: 150px;
      margin-top: 0;
    }
    button{
      background-color: #fff;
      .borderradius(@radius, @radius, 0, 0);
      border: 1px solid @gray4;
      border-left: none;
      font-size: 12px;
      font-weight: 700;
      color: @gray6;
      padding: 14px 10px 12px 0;
      margin-left: -4px;
    }
    .field, .text{
      display: inline-block;
      vertical-align: middle;
    }
    .text{
      margin-left: 5px;
      span{
        font-size: 12px;
        color: @gray8;
      }
    }
  }
  .description{
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid @gray4;
    h3, h4{
      font-size: 18px;
      font-weight: 700;
      color: @gray8;
    }
    p{
      font-size: 14px;
      line-height: 21px;
    }
  }
  .related{
    border-top: 1px solid @gray4;
    margin-top: 40px;
    padding-top: 20px;
    h5{
      font-size: 18px;
      font-weight: 700;
      color: @gray8;      
    }
  }
}
