<div class="aberto container">
  <div class="heading open d-flex justify-content-between align-items-center">
    <div class="back">
      <a data-ng-href="#/"><i class="fas fa-arrow-left"></i> voltar para página inicial</a>
    </div>
  </div>
  <div class="row">
    <div class="col-3 image">
      <img class="mx-auto d-block" data-ng-src="{{bookS.volumeInfo.imageLinks.thumbnail}}" alt="Imagem da capa do livro" title="{{bookS.volumeInfo.title}}">
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-8">
          <h2 ng-if="bookS.volumeInfo.subtitle" class="name">{{bookS.volumeInfo.title + " - " + bookS.volumeInfo.subtitle}}</h2>
          <h2 ng-if="!bookS.volumeInfo.subtitle" class="name">{{bookS.volumeInfo.title}}</h2>
          <small>Por {{bookS.volumeInfo.authors.join(", ")}} - {{bookS.volumeInfo.publishedDate | date :  "yyyy"}}</small>
          <div class="frete">
            <span>Calcular frete e prazo</span>
            <div class="field">
              <input class="input" type="text" placeholder="00000-000" ng-model="maskCEP" mask='00000-000'>
              <button>Calcular</button>
            </div>
            <div class="text">
              <span>Frete <strong>Grátis</strong> para todo o Brasil</span>
              <span>Entrega de 7 a 10 dias úteis</span>
            </div>
          </div>
        </div>
        <div class="col-4 preco">
          <span class="original">De: R$29,90</span>
          <span class="final">Por: R$19,90</span>
          <span class="cartao"><strong>Cartão de Crédito:</strong> 1x R$ 19,90 ou em até 3x sem juros</span>
          <span class="boleto"><strong>Boleto:</strong> R$ 15,90</span>
          <a class="buttonbuy active" data-ng-href="#/checkout/{{bookS.id}}"><i class="fas fa-shopping-cart"></i> Comprar</a>
        </div>
      </div>
      <div class="row infos">
        <div class="col-12">
          <div class="description">
            <h3>Descrição</h3>
            <p>{{bookS.volumeInfo.description | removeHTMLTags}}</p>
            <div ng-if="bookS.volumeInfo.categories" class="categoria">
              <h4>Categoria</h4>
              <p>{{bookS.volumeInfo.categories.join(", ")}}</p>
            </div>
            <div ng-if="bookS.volumeInfo.pageCount" class="paginas">
              <h4>Quantidade de páginas</h4>
              <p>{{bookS.volumeInfo.pageCount}}</p>
            </div>
            <div ng-if="bookS.volumeInfo.dimensions" class="tamanho">
              <h4>Tamanho (cm)</h4>
              <p>{{bookS.volumeInfo.dimensions.height}} x {{bookS.volumeInfo.dimensions.width}} x {{bookS.volumeInfo.dimensions.thickness}}</p>
            </div>
            <div ng-if="bookS.volumeInfo.language" class="idioma">
              <h4>Idioma</h4>
              <p ng-if="bookS.volumeInfo.language == 'en'">Inglês</p>
              <p ng-if="bookS.volumeInfo.language == 'pt-BR'">Portugês Brasil</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <ul class="related" data-ng-controller="listaLivros">
      <h5>Outros livros</h5>
      <div class="row">
        <li class="col" data-ng-repeat="book in books | limitTo: 5" data-ng-if="book.volumeInfo.title != bookS.volumeInfo.title">
          <a class="book" href="#/book/{{book.id}}">
            <div class="thumbnail d-flex align-items-end">
              <img class="mx-auto d-block" ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="Imagem da capa do livro" title="{{book.volumeInfo.title}}">
            </div>
            <div class="infos">
              <h3 ng-if="book.volumeInfo.subtitle" class="name">{{book.volumeInfo.title + " - " + book.volumeInfo.subtitle | limitTo: 50}}...</h3>
              <h3 ng-if="!book.volumeInfo.subtitle" class="name">{{book.volumeInfo.title}}</h3>
              <small>Por {{book.volumeInfo.authors.join(", ")}} - {{book.volumeInfo.publishedDate | date :  "yyyy"}}</small>
            </div>
          </a>
          <a class="buttonbuy" data-ng-href="#/checkout/{{book.id}}"><i class="fas fa-shopping-cart"></i> Comprar</a>
        </li>
      </div>
    </ul>
</div>
