<div class="container">
  <div class="heading d-flex justify-content-between align-items-center">
    <span><strong>{{bookQ.length}}</strong> produto(s)</span>
    <div class="search">
      <input class="input" data-ng-model="bookSearch" type="text" value="" placeholder="Qual livro você está procurando?">
      <i class="fas fa-search"></i>
    </div>
  </div>
  <ul>
    <div class="row">
      <!-- <li class="col-3" data-ng-repeat="book in books | filter:bookSearch"> -->
      <li class="col-3" data-ng-repeat="book in books | filter:bookSearch as bookQ">
        <a class="book" href="#/book/{{book.id}}">
          <div class="thumbnail d-flex align-items-end">
            <img class="mx-auto d-block" ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="Imagem da capa do livro" title="{{book.volumeInfo.title}}">
          </div>
          <div class="infos">
            <h3 ng-if="book.volumeInfo.subtitle" class="name">{{book.volumeInfo.title + " - " + book.volumeInfo.subtitle | limitTo: 50}}...</h3>
            <h3 ng-if="!book.volumeInfo.subtitle" class="name">{{book.volumeInfo.title}}</h3>
            <small>Por {{book.volumeInfo.authors.join(", ")}} - {{book.volumeInfo.publishedDate | date :  "yyyy"}}</small>
          </div>
        </a>
        <a class="buttonbuy" data-ng-href="#/checkout/{{book.id}}"><i class="fas fa-shopping-cart"></i> Comprar</a>
      </li>
    </div>
  </ul>
</div>
