<div class="container payment">
  <div class="heading open d-flex justify-content-between align-items-center">
    <div class="back">
      <a data-ng-href="#/"><i class="fas fa-arrow-left"></i> voltar para página inicial</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Dados Pessoais</h2>
      <form action="">
        <div class="form-group">
          <label for="nome">Nome Completo</label>
          <input type="text" class="form-control input form" id="nome" placeholder="Nome Completo">
        </div>
        <div class="form-group">
          <label for="fone">Telefone</label>
          <input type="text" class="form-control input form" id="fone" placeholder="Telefone" ng-model="maskPhone" mask='(00) 00000-0000'>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control input form" id="email" placeholder="E-mail">
        </div>
        <div class="form-group">
          <label for="endereco">Endereço</label>
          <input type="text" class="form-control input form" id="endereco" placeholder="Endereço">
        </div>
        <div class="form-row">
          <div class="form-group col-10">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control input form" id="cidade" placeholder="Cidade">
          </div>
          <div class="form-group col-2">
            <label for="uf">UF</label>
            <select id="uf" class="form-control input form select">
              <option value="AC" selected>AC</option>
              <option value="AL">AL</option>
              <option value="AP">AP</option>
              <option value="AM">AM</option>
              <option value="BA">BA</option>
              <option value="CE">CE</option>
              <option value="DF">DF</option>
              <option value="ES">ES</option>
              <option value="GO">GO</option>
              <option value="MA">MA</option>
              <option value="MT">MT</option>
              <option value="MS">MS</option>
              <option value="MG">MG</option>
              <option value="PA">PA</option>
              <option value="PB">PB</option>
              <option value="PR">PR</option>
              <option value="PE">PE</option>
              <option value="PI">PI</option>
              <option value="RJ">RJ</option>
              <option value="RN">RN</option>
              <option value="RS">RS</option>
              <option value="RO">RO</option>
              <option value="RR">RR</option>
              <option value="SC">SC</option>
              <option value="SP">SP</option>
              <option value="SE">SE</option>
              <option value="TO">TO</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="col">
      <h2>Formas de Pagamento</h2>
      <form action="">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="payments" id="boleto" value="boleto">
          <label class="form-check-label" for="boleto">
            <h3>Boleto</h3>
            <p>Ao selecionar essa opção o boleto será enviado para o seu e-mail cadastrado ou você pode <a href="">clicar aqui</a> e imprimir o boleto</p>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="payments" id="cartao" value="cartao">
          <label class="form-check-label" for="cartao">
            <h3>Cartão de Crédito</h3>
            <p>Preencha os campos abaixos para pagar com cartão.</p>
            <div class="form-row">
              <div class="form-group col-12">
                <label for="numero" class="">Número do Cartão</label>
                <input type="text" class="form-control input form" id="numero" placeholder="0000 0000 0000 0000 00" ng-model="maskNumberCard" mask='0000 0000 0000 0000 00'>
              </div>
              <div class="form-group col-12">
                <label for="nomec" class="">Nome no Cartão</label>
                <input type="text" class="form-control input form" id="nomec" placeholder="Nome no Cartão">
              </div>
              <div class="form-group col-4">
                <label for="seguranca" class="">Cód. de Segurança</label>
                <input type="text" class="form-control input form" id="seguranca" placeholder="Cód. Segurança" ng-model="maskSegu" mask='000'>
              </div>
              <div class="form-group col-4">
                <label for="mes" class="">Mês de Validade</label>
                <select id="mes" class="form-control input form select">
                  <option value="01" selected>01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
              <div class="form-group col-4">
                <label for="ano" class="">Ano de Validade</label>
                <select id="ano" class="form-control input form select">
                  <option value="2021" selected>2021</option>
                  <option value="2020">2020</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
                </select>
              </div>
            </div>
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="row d-flex flex-row-reverse">
    <div class="col-3">
      <a class="buttonbuy btncheckout" data-ng-href="#/success">Finalizar</a>
    </div>
  </div>
</div>
